In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
#pip install category_encoders
import category_encoders as ce

from sklearn.model_selection import train_test_split , GridSearchCV , cross_val_score , RandomizedSearchCV,KFold,RepeatedKFold

from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import OneHotEncoder , LabelEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.metrics import get_scorer
from sklearn.model_selection import cross_validate
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.model_selection import learning_curve
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_percentage_error
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
import shap
from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.feature_selection  import RFE
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import PowerTransformer


from matplotlib.colors import ListedColormap
from sklearn.model_selection import cross_val_score
from sklearn import svm 
from sklearn.svm import LinearSVC
from itertools import product
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.inspection import permutation_importance
from IPython.display import display
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import classification_report, RocCurveDisplay, DetCurveDisplay,PrecisionRecallDisplay
from sklearn.metrics import roc_auc_score
import math

In [16]:
# обработка тестового фрейма, чтобы потом нужные команды перенести в финальный файл
df1 = pd.read_csv('test.csv')
# так как я убирал в БЛОКЕ 2, то тут тоже не понадобится эта колонка
df1 = df1.drop(columns=['ID'])
df1.head()

,Brand,Model,Year_of_production,Type,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box,Drive_wheels,Doors,Color,Airbags,Tax
0,TOYOTA,Prius,2009,Hatchback,No,Hybrid,1.8,174000 km,4.0,Variator,Front,04-May,Blue,8,878
1,HONDA,Civic,2014,Coupe,Yes,Petrol,2.4,58000 km,4.0,Automatic,Front,04-May,Black,4,749
2,SUBARU,Forester,2015,Jeep,Yes,Petrol,2.5,90392 km,4.0,Automatic,4x4,04-May,White,0,934
3,HYUNDAI,Sonata,2018,Sedan,Yes,Petrol,2,41895 km,4.0,Automatic,Front,04-May,White,4,1079
4,JEEP,Compass,2009,Jeep,Yes,Petrol,2.4,163866 km,4.0,Automatic,Front,04-May,Red,4,1141

In [17]:
df1.describe()

       Year_of_production    Cylinders      Airbags          Tax
count         2297.000000  2297.000000  2297.000000  2297.000000
mean          2013.277754     4.366565     6.276448   843.168045
std              2.834180     0.995056     3.927337   337.645818
min           1995.000000     1.000000     0.000000    87.000000
25%           2011.000000     4.000000     4.000000   640.000000
50%           2013.000000     4.000000     4.000000   777.000000
75%           2015.000000     4.000000    10.000000   971.000000
max           2020.000000    16.000000    16.000000  5603.000000

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2297 entries, 0 to 2296
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               2297 non-null   object
 1   Model               2297 non-null   object
 2   Year_of_production  2297 non-null   int64
 3   Type                2297 non-null   object
 4   Leather_interior    2297 non-null   object
 5   Fuel_type           2297 non-null   object
 6   Engine_volume       2297 non-null   object
 7   Mileage             2297 non-null   object
 8   Cylinders           2297 non-null   float64
 9   Gear_box            2297 non-null   object
 10  Drive_wheels        2297 non-null   object
 11  Doors               2297 non-null   object
 12  Color               2297 non-null   object
 13  Airbags             2297 non-null   int64
 14  Tax                 2297 non-null   int64
dtypes: float64(1), int64(3), object(11)
memory usage: 269.3+ KB

### Посмотрю схожие несоотвествия данных, как и в train

In [19]:
for i in df1.columns:
    print(i,df1[i].unique())
    
#обьем двигателя = 0  и 20
# интересно, как и в траин

Brand ['TOYOTA' 'HONDA' 'SUBARU' 'HYUNDAI' 'JEEP' 'BMW' 'FORD' 'NISSAN' 'LEXUS'
 'MITSUBISHI' 'MERCEDES-BENZ' 'KIA' 'CHEVROLET' 'SSANGYONG' 'RENAULT'
 'OPEL' 'DAEWOO' 'AUDI' 'VOLKSWAGEN' 'DODGE' 'MAZDA' 'PORSCHE' 'MINI'
 'JAGUAR' 'LAND ROVER' 'FIAT' 'BUICK' 'SUZUKI' 'ACURA' 'CHRYSLER']
Model ['Prius' 'Civic' 'Forester' 'Sonata' 'Compass' '535' 'Fusion' 'Genesis'
 'RAV 4' 'X-Terra' 'GX 470' 'Camry' 'IS 350' 'H1' 'Santa FE'
 'Prius C ჰიბრიდი' 'Outlander' 'Elantra' 'Insight EX' 'S 550' 'Juke'
 'Tucson' 'Optima' 'Fiesta' 'HS 250h' 'Orlando' 'Volt' 'Transit Connect'
 'Fusion SE' 'CHR' 'Aqua' 'Cruze' 'Sonata hybrid' 'Camry SE' 'GLA 250'
 'Tacoma' 'REXTON' 'GLE 350' 'Actyon' 'Megane' '528' 'ML 350' 'GX 460'
 'Astra' 'E 350' 'Captiva' 'Lacetti' 'Highlander' 'Impala' 'Q5' 'Insight'
 'X5' 'Prius C' '740' 'Jetta SE' 'I30' 'Traverse' 'RX 450' '328' 'Vitz'
 'Veloster' 'E 220' 'Focus' 'FIT' 'Challenger' 'Mazda 6' 'Combo' 'Cayman'
 'Cruze LT' 'Malibu LT' 'Malibu' '1300' 'Tundra' 'Countryman' 'Mazda 3'
 'XF' 'LS 460' 'GLE 63 AMG' 'Transit' 'Jetta' 'Spark' 'X4' 'Camry SPORT'
 'Aveo' 'Trax' 'E 300' 'Sportage' 'Escape' 'C-MAX' 'Passat' 'Sienna'
 'Matiz' 'Avalon LIMITED' 'Elantra SE' 'Avalon' 'March' 'R 350' 'Cayenne'
 'Camry HYBRID' 'Discovery' 'Astra H' 'ES 300' 'Cruze RS' 'Panamera'
 'Elantra sport limited' 'XV' 'Sprinter' 'Altima' 'Cr-v' 'Prius V'
 'Wrangler' 'C 180' 'RX 300' 'Camry se' 'Cherokee' 'Corolla LE'
 'Corolla IM' 'Escape SE' 'Zafira' 'Accent' 'CT 200h' 'C 250' 'Sorento'
 'Corolla' 'Elantra gt' 'Optima HYBRID' '500' 'C 220' 'Encore' 'A6'
 'Renegade' 'Carnival' 'SX4' 'GL 350' 'RIO' 'Grandeur' 'Mustang' 'Note'
 'A4' 'Korando' 'Grand Cherokee' 'A7' 'Camry XSE' 'Camry LE' 'Rogue'
 'Cooper' 'G 550' 'Camaro' 'Versa' 'RX 350' 'Outlander sport' 'C 300'
 'Vito' 'IS 250' 'Prius ჰიბრიდი' 'Gentra' 'GTI' 'Elantra GT' '4Runner'
 'Pathfinder' 'Camry XLE' 'CLA 250' 'Picanto' 'C-MAX SEL' 'Caliber'
 'ML 250' 'Taurus' 'IS 200' 'SOUL' 'Tiguan' 'RX 400' 'LX 570' 'Q7' 'RAM'
 'Elantra limited' 'Outlander Sport' 'Avalanche' 'CX-5' 'Ramcharger'
 'Kyron' 'Accent SE' '330' 'Avella' 'Sequoia' 'F150' 'Crafter' 'Yaris'
 'Niro' 'E 250' 'Patriot' 'Focus SE' 'MDX' 'IS 300' 'Crosstrek' '428'
 'Fusion Titanium' 'Passat SE' 'Explorer' 'M4' 'Viano' 'ES 350' 'Cadenza'
 'Sonata SPORT' 'Outback' '335' '300' 'Murano' 'Scirocco' 'CLS 55 AMG'
 'Cerato' 'Accord' 'Camry Hybrid' 'Century' '650' 'X6' '320']
Year_of_production [2009 2014 2015 2018 2013 2016 2011 2017 2012 2010 2019 2008 2007 2003
 2005 2004 2001 1995 2000 2006 2020 2002]
Type ['Hatchback' 'Coupe' 'Jeep' 'Sedan' 'Universal' 'Microbus' 'Goods wagon'
 'Minivan' 'Cabriolet' 'Pickup']
Leather_interior ['No' 'Yes']
Fuel_type ['Hybrid' 'Petrol' 'Diesel' 'LPG']
Engine_volume ['1.8' '2.4' '2.5' '2' '3' '3.3' '4' '4.6' '3.5' '1.5' '1.6' '1.3'
 '2.0 Turbo' '1.8 Turbo' '1.5 Turbo' '1.4 Turbo' '2.5 Turbo' '1.4' '2.7'
 '1.3 Turbo' '3.2' '3.0 Turbo' '3.6' '1' '2.2 Turbo' '1.7' '5.7'
 '1.6 Turbo' '2.2' '5.5' '2.4 Turbo' '2.3' '1.2' '1.7 Turbo' '4.8' '2.8'
 '3.8' '2.9 Turbo' '4.7' '3.5 Turbo' '2.8 Turbo' '5' '2.1' '5.3' '0' '20'
 '3.7' '0.2' '1.9' '1.0 Turbo' '4.7 Turbo' '1.9 Turbo' '4.4']
Mileage ['174000 km' '58000 km' '90392 km' ... '180204 km' '131400 km' '13460 km']
Cylinders [ 4.  6.  8. 10.  1.  5.  3.  2. 16. 14.]
Gear_box ['Variator' 'Automatic' 'Tiptronic' 'Manual']
Drive_wheels ['Front' '4x4' 'Rear']
Doors ['04-May' '02-Mar' '>5']
Color ['Blue' 'Black' 'White' 'Red' 'Grey' 'Silver' 'Carnelian red' 'Orange'
 'Sky blue' 'Golden' 'Beige' 'Brown' 'Yellow' 'Green' 'Pink' 'Purple']
Airbags [ 8  4  0 12  6 10 16 11  2  9  1  7 14  5  3]
Tax [ 878  749  934 1079 1141  915  640 1413  777 1327 1646  394  779 1172
  891 1249  639  503  707  687  574  697 1363  530 1325  629  765 1275
  583  986  642  382  730  761  831 1077 1202  475 1017 1820 1292  638
  836  649  607  650  880 1273 1091  742 1058  790  585 1399  893  975
 1288  490 1024  917  924  595  810  919  333 1533  584  271  364  586
  784 1211  645  971 1760  663 1018  751 1438  308  442 1664 1360  531
  781  833  988 1053 1935 2297  966  738 1991 1055  474  426  501  753
  527  431 1282  862 1246  691  502  353  609 1714  397  579 1811 1047
  746  843  877  518  419  789 2628  900 1277  473 1537  627 1107  345
 1356  456 1885 1680  363 1832 1185  955 1529 1750 1171 2225  562 1528
  528  690 1522  764  446 1095  447 1324 1104 1099  694  463  911 1195
 1604  505 1110 1598 1756 1586 2108  828  830  832 1051  400  399 1090
  696  930 1156 1317  418 1086 2151 1699  760  876  489  551 1624 1514
  420 1946 1975 1307 1442 1347  770  603  521 2455  724  614 1481 1296
 1694 1076 1829  731  732  834  461 1493 1470 1132  441  798 1817 1375
  362 1620 1668  494  552 1730  641  997 2195  879 1197  517  769 1203
 2913 1094 1850  864   87 1190 1194 5603  780 1855  961  402  666  994
 1234 2736 1793  259 1054  916 1869  827 1080 1405  155  980 1228 1272
 1391  626  792 1113  890  799 1286 1671 1841 1708 1578 1357 1304  993
 2148]

In [20]:
# Функции для обработки колонок с буквами, а также для их разделения
def volume(s):
    if len(s) <= 3:
        a = s
    else:
        a = s[:3]
    return a;

def turbo(df):
    b = []
    for i in range(len(df)):
        if df['Engine_volume'][i][4:] == 'Turbo':
            b.append(1)    
        else:
            b.append(0)
    return pd.Series(b);
# Делаю новую колонку Турбо, чтобы выделять машины с турбированным двигателем
# а также разделяю пробег от километров и делаю из этого целые числа
df1['Turbo'] = 0
df1['Turbo'] = turbo(df1)
df1['Engine_volume'] = [volume(i) for i in df1['Engine_volume']]
df1['Engine_volume'] = df1['Engine_volume'].astype(float)
df1.Mileage = [int(''.join(filter(str.isdigit, i ))) for i in df1.Mileage]

In [21]:
# Посмотрим теперь на 0 и 20л двигатели
display(df1[df1['Engine_volume'] == 0])
# Объем двигателя Тойота Аква составляет 1.5 л. Мощность двигателей Toyota Aqua от 74 до 91 л.
#
#Автомобиль комплектовался моторами объёмом: 1.6, 2.0, 2.4 л.
display(df1[df1['Engine_volume'] == 20])
# То есть это тоже неккоретные данные,которые мы можем убрать
ind1 = df1[df1['Engine_volume'] == 0].index
df1 = df1.drop(index=ind1)
inde1 = df1[df1['Engine_volume'] == 20].index
df1 = df1.drop(index=inde1)

,Brand,Model,Year_of_production,Type,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box,Drive_wheels,Doors,Color,Airbags,Tax,Turbo
1482,TOYOTA,Aqua,2012,Hatchback,Yes,Petrol,0.0,118000,4.0,Automatic,Front,04-May,Grey,4,87,0

,Brand,Model,Year_of_production,Type,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box,Drive_wheels,Doors,Color,Airbags,Tax,Turbo
1561,HYUNDAI,Sonata,2014,Sedan,Yes,LPG,20.0,333686,4.0,Automatic,Front,04-May,Silver,4,5603,0

In [26]:
# теперь посмотрим на дубликаты и уберем их, тк есть полностью одинаковые машины, но по цене разной - странно
# цена разная с дубликатами - находил в траин
df1_duplicates = df1.copy()
dupl_rows1 = df1_duplicates[df1_duplicates.duplicated()].index
df1 = df1.drop(index=dupl_rows1)
df1 = df1.drop_duplicates(keep = 'first')

In [35]:
display(df1.Mileage.nlargest(5)) # тут все нормально
display(df1.Mileage.nsmallest(5)) # тут очень много нулей
display(df1[df1.Mileage==0]) # тоже вот очень странно(машинам по 10 и более лет некоторым, а у них 0 пробег)
# я думаю, что это тоже ошибки в данных, поэтому удаляю
ii1 = df1[df1.Mileage==0].index
df1 = df1.drop(index=ii1)

1879    1456394
1135    1440000
761      820000
201      789888
1593     735970
Name: Mileage, dtype: int64

229     1000
2204    1000
175     1166
1815    1275
246     1405
Name: Mileage, dtype: int64

Empty DataFrame
Columns: [Brand, Model, Year_of_production, Type, Leather_interior, Fuel_type, Engine_volume, Mileage, Cylinders, Gear_box, Drive_wheels, Doors, Color, Airbags, Tax, Turbo]
Index: []

In [44]:
# посмотрим как отмечал выше на 0 и 20л двигатель
display(df1[df1['Engine_volume'] == 0])
display(df1[df1['Engine_volume'] == 20])
# это тоже является некорректными данными, которые не соответствуют действительности
## Объем двигателя Тойота Аква составляет 1.5 л. Мощность двигателей Toyota Aqua от 74 до 91 л.
##Автомобиль комплектовался моторами объёмом: 1.6, 2.0, 2.4 л.(Соната)
#удаляем
i1 = df1[df1['Engine_volume'] == 0].index
df1 = df1.drop(index=i1)

iii1 = df1[df1['Engine_volume'] == 20].index
df1 = df1.drop(index=iii1)

,Brand,Model,Year_of_production,Type,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box,Drive_wheels,Doors,Color,Airbags,Tax,Turbo
1482,TOYOTA,Aqua,2012,Hatchback,Yes,Petrol,0.0,118000,4.0,Automatic,Front,04-May,Grey,4,87,0

,Brand,Model,Year_of_production,Type,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box,Drive_wheels,Doors,Color,Airbags,Tax,Turbo
1561,HYUNDAI,Sonata,2014,Sedan,Yes,LPG,20.0,333686,4.0,Automatic,Front,04-May,Silver,4,5603,0

In [46]:
df1.Tax.nsmallest(5)
# тут все нормально, я считаю

1963    155
1864    259
136     271
161     271
1243    271
Name: Tax, dtype: int64

In [48]:
df1.Tax.nlargest(5) 
# тут все нормально, я считаю

1463    2913
1828    2736
326     2628
974     2455
209     2297
Name: Tax, dtype: int64

In [52]:
display(df1['Year_of_production'].nsmallest(5))
display(df1[df1['Year_of_production']==1995])
# данные нормальные, все нормально

413     1995
458     2000
926     2000
2176    2000
381     2001
Name: Year_of_production, dtype: int64

,Brand,Model,Year_of_production,Type,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box,Drive_wheels,Doors,Color,Airbags,Tax,Turbo
413,MERCEDES-BENZ,C 180,1995,Sedan,No,Petrol,1.8,2014,4.0,Manual,Rear,04-May,Black,2,1529,0

In [ ]:
# Поскольку в БЛОК 2 после дубликатов я убираю Model, тк не несет доп информации, а я беру Бренд
# то я удаляю эту переменную

In [53]:
df1 = df1.drop(columns=['Model'])

### Сделаю Сolumn Transformer для теста

In [57]:
cat_features = ['Brand','Type','Color']
num_features = ['Year_of_production','Mileage','Tax']
columns = ['Brand','Type','Color','Fuel_type','Gear_box','Drive_wheels','Year_of_production','Mileage','Tax','Leather_interior','Doors','Engine_volume','Cylinders','Airbags','Turbo']
X = df1.copy()

In [58]:
fuel_type_map = [{
    'col':'Fuel_type', 
    'mapping':{'Diesel':3,'Petrol':2,'Hybrid':1,'LPG':0}
    }]
gear_box_map = [{
    'col':'Gear_box',
    'mapping':{'Tiptronic':3,'Automatic':2,'Variator':1,'Manual':0}
    }]
drive_wheels_map = [{
    'col':'Drive_wheels',
    'mapping':{'4x4':2,'Rear':1,'Front':0}
    }]
doors_map = [{
    'col':'Doors',
    'mapping':{'04-May':2,'>5':1,'02-Mar':0}
    }]
leather_interior_map = [{
    'col':'Leather_interior',
    'mapping':{'Yes':1,'No':0}
    }]

fuel_transformer = Pipeline(steps=[
    ('ce',ce.OrdinalEncoder(mapping = fuel_type_map))])

gear_box_transformer = Pipeline(steps=[
    ('ce',ce.OrdinalEncoder(mapping = gear_box_map))])

drive_wheels_transformer = Pipeline(steps=[
    ('ce',ce.OrdinalEncoder(mapping = drive_wheels_map))])

doors_transformer = Pipeline(steps=[
    ('ce',ce.OrdinalEncoder(mapping = doors_map))])

leather_transformer = Pipeline(steps=[
    ('ce',ce.OrdinalEncoder(mapping = leather_interior_map))])

   
# для деревьев можно не стандартизировать данные в фичах 
CT = ColumnTransformer(transformers=[('cat',OrdinalEncoder(),cat_features),
                                     ('fuel_type', fuel_transformer, ['Fuel_type']),
                                     ('gear_box', gear_box_transformer, ['Gear_box']),
                                     ('drive_wheels', drive_wheels_transformer, ['Drive_wheels']),
                                     ('num','passthrough',num_features), #MinMaxScaler()
                                     ('leather',leather_transformer,['Leather_interior']),
                                     ('doors', doors_transformer, ['Doors'])],
                                      remainder = 'passthrough')

display(CT)

X_CT = CT.fit_transform(X)#.toarray()
X_CT = pd.DataFrame(X_CT,columns=columns)
X_CT.head()

ColumnTransformer(remainder='passthrough',
                  transformers=[('cat', OrdinalEncoder(),
                                 ['Brand', 'Type', 'Color']),
                                ('fuel_type',
                                 Pipeline(steps=[('ce',
                                                  OrdinalEncoder(mapping=[{'col': 'Fuel_type',
                                                                           'mapping': {'Diesel': 3,
                                                                                       'Hybrid': 1,
                                                                                       'LPG': 0,
                                                                                       'Petrol': 2}}]))]),
                                 ['Fuel_type']),
                                ('gear_box',
                                 Pipeline(steps=[('ce',
                                                  OrdinalEncoder(mapping=[{'col': 'Gear_box',
                                                                           'mapping': {'Auto...
                                                                                       'Rear': 1}}]))]),
                                 ['Drive_wheels']),
                                ('num', 'passthrough',
                                 ['Year_of_production', 'Mileage', 'Tax']),
                                ('leather',
                                 Pipeline(steps=[('ce',
                                                  OrdinalEncoder(mapping=[{'col': 'Leather_interior',
                                                                           'mapping': {'No': 0,
                                                                                       'Yes': 1}}]))]),
                                 ['Leather_interior']),
                                ('doors',
                                 Pipeline(steps=[('ce',
                                                  OrdinalEncoder(mapping=[{'col': 'Doors',
                                                                           'mapping': {'02-Mar': 0,
                                                                                       '04-May': 2,
                                                                                       '>5': 1}}]))]),
                                 ['Doors'])])

,Brand,Type,Color,Fuel_type,Gear_box,Drive_wheels,Year_of_production,Mileage,Tax,Leather_interior,Doors,Engine_volume,Cylinders,Airbags,Turbo
0,28.0,3.0,2.0,1.0,1.0,0.0,2009.0,174000.0,878.0,0.0,2.0,1.8,4.0,8.0,0.0
1,10.0,1.0,1.0,2.0,2.0,0.0,2014.0,58000.0,749.0,1.0,2.0,2.4,4.0,4.0,0.0
2,26.0,4.0,14.0,2.0,2.0,2.0,2015.0,90392.0,934.0,1.0,2.0,2.5,4.0,0.0,0.0
3,11.0,8.0,14.0,2.0,2.0,0.0,2018.0,41895.0,1079.0,1.0,2.0,2.0,4.0,4.0,0.0
4,13.0,4.0,11.0,2.0,2.0,0.0,2009.0,163866.0,1141.0,1.0,2.0,2.4,4.0,4.0,0.0

In [61]:
# возьму преобразование Бокса-Кокса для пробег и налога
# преобраазуем переменные пробег и налог
power = PowerTransformer(method='box-cox') 
minmax = MinMaxScaler()

mile = power.fit_transform(minmax.fit_transform(pd.DataFrame(X_CT.Mileage)) + 1)
tax = power.fit_transform(minmax.fit_transform(pd.DataFrame(X_CT.Tax)) + 1)


X_CT.Mileage = mile
X_CT.Tax = tax
#преобразовываю данные и записываю в колонки моего Х после трансформера
# скорее всего это преобразование буду делать до трансформера,то есть сразу преобразовывать фрейм по этим колонкам
# тк трудно будет сделать преобразования после pipeline

In [ ]:
# Трансформер для теста работает, поэтому все нормально
# данные почистили,трансформер проверили
# буду срезать тоже на нем неинформативные переменные, но это уже буду делать в финальном файле